@font-face {
    font-family: VT323;
    src: url(../fonts/VT323.ttf);
}

body  {
  background-image: url("../images/sea.png");
  background-repeat: repeat;

  background-color: rgb(89,125,207);
  
  font-family: VT323;
  letter-spacing: 1px;
  font-size:20;
}

.map {
  background-image: url("../images/sea.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(89,125,207);
  
  font-family: VT323;
  letter-spacing: 1px;
  font-size:20;
}

.space {
height: 8px;
}

a:link {
    color: rgb(109,195,203);
}

/* visited link */
a:visited {
    color: rgb(89,125,207);
}

/* mouse over link */
a:hover {
    color: rgb(48,52,109);
}

.Base {
  align: center;
  width:750px;
  font-size:20;
  
  background-color:rgba(20,12,28,0.85);
  color: white;
  border-radius: 20px;
  border:solid 5px;
  margin: auto;
  padding: 2%;
}

.HeaderButton {
    background-color: rgb(223,239,215);
    color: rgb(20,12,28);
    border: 3px solid rgb(20,12,28);
    width: 110px;
    height: 30px;
    
    font-family: VT323;
    font-size: 16;
    
    text-align:center;
    font-style:bold;
    text-decoration: underline;
}

.HeaderButton:hover {
	background-color: rgb(20,12,28); 
	color: rgb(223,239,215);
  transform: scale(1.1, 1.1);
}


.Social{
text-align: center ;
}

.Social a img:hover {
  transform: scale(1.25, 1.25);
}

.ImageBox {
  border:3px solid white;
  float:right;
  margin:10px;
}

.Bubble {
  text-align: center;
  color: rgb(20,12,28);
  
  background: url(../images/5lineBubble.png), no-repeat center center;

  width:370px;
  height:124px;

  font-size:20;
  letter-spacing: 0px;
  line-height: 90%;
}

.Bubble4 {
  text-align: center;
  color: rgb(20,12,28);
  
  background: url(../images/4lineBubble.png), no-repeat center center;

  width:370px;
  height:106px;

  font-size:20;
  letter-spacing: 0px;
  line-height: 90%;
}

.Bubble p{
  padding: 8px 8px 8px 12px;
}

.Bubble4 p{
  padding: 8px 8px 8px 12px;
}

.img-flip {
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
